.interactive {
    display: inline-block;
    height: 1.2em;
    background-color: $dark;
    color: $light;
    padding: 10px;
    min-width: 15vw;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
 
.interactive:hover {
    //background-color: $accent;
}

.outer-interactive {
    width: auto;
    text-align: center;
}