h1 {
    color: $accent;
}

body {
    background-color: $light;
    font-family: Lato;
    padding: 0;
    margin: 0;
    color: $dark;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    background-color: $dark;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.content {
    position: fixed;
    left: 30%;
    right: 0%;
    height: 100%;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
}

img.dp {
    border-radius: 50%;
    width: 60%;
    height: auto;
    margin-top: 10%
}

div.dp {
    margin-bottom: 20px;
    font-size: 2em;
}

a.sidelink {
    color: $light;
    text-decoration: none;
    font-size: 1.2em;
}

a.sidelink:hover {
    color: $accent;
    text-decoration: none;
    cursor: pointer;
}

.dp {
    color: $light;
    font-size: 24px;
}

hr {
    height:2px;
    border-width:0;
    background-color: $accent;
}

.footspace {
    height: 50px;
    background-color: $light;
}