h1 {
    color: $accent;
}

body {
    background-color: $light;
    font-family: Lato;
    padding: 0;
    margin: 0;
    color: $dark;
}

.content {
    position: static;
    padding: 30px;
    left: 0;
    overflow: hidden;
}

.navbar-for-mobile {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: $dark;
    width: auto;
    text-align: center;
    padding-top: 20px;
}

a.navbar-for-mobile {
    color: $light;
    font-size: 20px;
    text-decoration: none;
}

a.navbar-for-mobile:hover {
    color: $accent
}

.navbar {
    display: none;
}