$dark: #231f20;
$light: #fafafa; 
$accent: #4cb5ae;

@font-face {
    font-family: Lato;
    src: url('/assets/fonts/Lato/Lato-Light.ttf')
}

@font-face {
    font-family: Lato-bold;
    src: url('/assets/fonts/Lato/Lato-Regular.ttf')
}

$mobile-width: 500px