$dark: #231f20;
$light: #fafafa;
$accent: #4cb5ae;

@font-face {
    font-family: Lato;
    src: url('/assets/fonts/Lato/Lato-Light.ttf')
}

h1 {
    color: $accent;
}

body {
    background-color: $light;
    font-family: Lato;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    background-color: $dark;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.content {
    position: fixed;
    left: 30%;
    right: 0%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
}

img.dp {
    border-radius: 50%;
}

div.dp {
    margin-bottom: 20px;
}

a.sidelink {
    color: $light;
    text-decoration: none;
    font-size: 24px;
}

a.sidelink:hover {
    color: $accent;
    text-decoration: none;
    cursor: pointer;
}

.dp {
    color: $light;
    font-size: 24px;
}

.footspace {
    height: 50px;
    background-color: $light;
}

.sketches {
    border: 5px solid $dark;
}

.sketches:hover {
    border: 5px solid $accent;
}