<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ishank Agrawal | {{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <div class="realstuff">
                {{ content }}
            </div>
            <div class="footspace"></div>
        </div>
    </body>
</html>