<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ishank Agrawal | {{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: {{site.mobile-width}}), only screen and (min-device-width: {{site.mobile-width}})" href="/{{ site.theme-location }}/assets/css/styles-desktop.css">
        <link rel="stylesheet" type="text/css" media="only screen and (max-width: {{site.mobile-width}}), only screen and (max-device-width: {{site.mobile-width}})" href="/{{ site.theme-location }}/assets/css/styles-mobile.css">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="navbar-for-mobile">
            <a href='/' class="navbar-for-mobile">Return to home.</a>
        </div>
        <div class="navbar">
            <div class="dp">
                <img class="dp" src="/{{ site.theme-location }}/assets/images/Ishank.jpg" alt="Profile Photo">
                <p class="dp">Ishank Agrawal</p>
                <hr class="dp">
            </div>
            <div><a class="sidelink" href="/">Home</a></div>
            {% for item in site.data.links %}
            <div><a class="sidelink" href="{{ item.href }}">{{ item.title }}</a></div>
            {% endfor %}
          </div>
        <div class="content">
            <div class="realstuff">
                {{ content }}
            </div>
            <div class="footspace"></div>
        </div>
    </body>
</html>