<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ishank Agrawal</title>
    <meta name="viewport" content="width=device-width" />
    <!--google verification-->
    <meta name="google-site-verification" content="HRiMoiCdXLJ2kUaZnGk4TGOAi-kvSpj9InmdLc5KT3g" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: {{site.mobile-width}}), only screen and (max-device-width: {{site.mobile-width}})" href="/{{ site.theme-location }}/assets/css/home-mobile.css">
    <link rel="stylesheet" type="text/css" media="only screen and (min-width: {{site.mobile-width}}), only screen and (min-device-width: {{site.mobile-width}})" href="/{{ site.theme-location }}/assets/css/home-desktop.css">
    <meta name="description" content="Hi, I am Ishank Agrawal. Welcome to my website. Here you can learn all about me, my awards and you can see my sketches.">
</head>
<body>
    <div class="main-div">
        <div class="dp"><img class="dp" src="/{{ site.theme-location }}/assets/images/Ishank.jpg" alt="Profile Photo"></div>
        <div class="info">
            <h1 id="intro">Hi, I am Ishank Agrawal</h1>
            <p id="rest">Welcome to my website! Click any of the below links to learn more about me.</p>
        </div>
    </div>
    <div class="bottom-navbar">
        {% for item in site.data.links %}
        <div class="outer-sidelink"><a class="sidelink" href="{{ item.href }}">{{ item.title }}</a></div>
        {% endfor %}
    </div>
</body>
</html>